<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "https://www.youtube.com/watch?v=31YWa1C1A_g", :target => "_blank", class: "navbar-brand" do %>
      <%= image_tag "https://media2.giphy.com/media/oBQZIgNobc7ewVWvCd/giphy.gif?cid=ecf05e47pfqrpqp4alyqc49fbrk8ohfp9g3eb61zhpybu0k2&rid=giphy.gif&ct=g" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
            <%= link_to "Tips", tips_path, class: "nav-link" %>
          <li>
          </li>
          <li class="nav-item">
            <%= link_to "New tip", new_tip_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://media1.giphy.com/media/3ohs88j0jPszpGCbYY/giphy.gif?cid=ecf05e47r0iv4is4966w36xk83zkakzceuzc7v275lltiqpj&rid=giphy.gif&ct=g", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Get smarter", "https://education.github.com/git-cheat-sheet-education.pdf", :target => "_blank", class: "dropdown-item" %>
              <%= link_to "Smarter!", "https://gist.github.com/aquelito/8596717", :target => "_blank", class: "dropdown-item" %>
              <%= link_to "You wish", "https://www.youtube.com/watch?v=o2Is1oTUPHE", :target => "_blank", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
