<h1>Tips</h1>


<%= tip.content %>
<%= tip.author %>
<%= tip.comment %>

<div class="cards">
  <% @tips.each do |tip| %>
    <div class="card-category">
      <%= tip.content %>
      <%= tip.author %>
      <%= tip.comment %>
        <p>
          <%= link_to "Show this tip", tip %>
        </p>
  </div>
  <% end %>
</div>
<%= link_to "New tip", new_tip_path %>
